@font-face {
  font-family: 'Poppins Bold';
  src: url(../assets/fonts/Poppins-Bold.ttf) format("truetype"); }

@font-face {
  font-family: 'Poppins Bold Italic';
  src: url(../assets/fonts/Poppins-BoldItalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Poppins Extra Bold';
  src: url(../assets/fonts/Poppins-ExtraBold.ttf) format("truetype"); }

@font-face {
  font-family: 'Poppins Extra Bold Italic';
  src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Poppins Italic';
  src: url(../assets/fonts/Poppins-Italic.ttf) format("truetype"); }

@font-face {
  font-family: 'Poppins Regular';
  src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype"); }

/* Colors */
/* Normalize */
*, *::before, *::after {
  box-sizing: border-box; }

* {
  margin: 0;
  font-weight: 400; }

html, body {
  height: 100%; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; }

input, button, textarea, select {
  font: inherit; }

input {
  font-size: 2rem; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

/* Styles */
body {
  background-color: #dbdbdb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Poppins Regular"; }

.main-container {
  background-color: white;
  width: 600px;
  max-width: 90%;
  height: 470px;
  border-radius: 25px 25px 150px 25px;
  padding: 30px 35px 30px 35px; }

.form-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  border-bottom: 2px solid #dbdbdb;
  position: relative;
  height: 30%; }

label {
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  font-family: 'Poppins Bold';
  color: #716f6f;
  text-transform: uppercase;
  letter-spacing: 2px;
  gap: 5px; }
  @media screen and (max-width: 550px) {
    label {
      font-size: .7rem; } }

.label-error {
  color: #ff5757; }

input {
  width: 125px;
  height: 60px;
  margin-right: 25px;
  font-size: 2rem;
  font-family: 'Poppins Bold';
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #dbdbdb; }
  input:focus {
    border: 1px solid #854dff;
    outline: none; }
  @media screen and (max-width: 550px) {
    input {
      width: 90%;
      font-size: 1.3rem; } }
  @media screen and (max-width: 350px) {
    input {
      width: 90%;
      font-size: 1rem; } }

.input-error {
  border: 1px solid #ff5757;
  outline: none; }
  .input-error:focus {
    border: 1px solid #854dff;
    outline: none; }

.error-message {
  color: #ff5757;
  font-size: .7rem;
  margin-top: 5px;
  font-family: 'Poppins Italic'; }
  @media screen and (max-width: 550px) {
    .error-message {
      font-size: .5rem; } }

button {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 90%;
  bottom: -30%;
  background-image: url(../assets/images/icon-arrow.svg);
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: #854dff;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }
  button:hover {
    background-color: #141414; }
  @media screen and (max-width: 400px) {
    button {
      left: 80%; } }

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 70%; }

.result {
  font-family: 'Poppins Extra Bold Italic';
  font-size: 4rem;
  color: #141414; }
  @media screen and (max-width: 550px) {
    .result {
      font-size: 3rem; } }
  @media screen and (max-width: 374px) {
    .result {
      font-size: 2.5rem; } }

.qty {
  color: #854dff; }

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px; }

.attribution a {
  color: #3e52a3; }
